* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Raleway", Arial, sans-serif;
}

img {
  width: 100%;
  height: auto;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.floating {
  overflow: auto;
}

.floating::after {
  clear: both;
  content: " ";
  display: block;
}

header {
  background-color: black;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
}

header ul {
  float: right;
}
header li {
  display: inline-block;
  padding: 0.7em;
  /*line-height: 20px;*/
  font-weight: bold;
  letter-spacing: 1px;
}

header p {
  float: left;
  padding: 0.7em 0;
  letter-spacing: 0.1em;
  overflow: auto;
}

header span {
  font-weight: bold;
  color: #26c7a9;
}

#sectionFirst {
  height: 460px;
  padding: 80px 0;
  /* IE10+ */
  background-image: -ms-linear-gradient(top, #F5F5F5 50%, #B4BAD4 100%);

  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top, #F5F5F5 50%, #B4BAD4 100%);

  /* Opera */
  background-image: -o-linear-gradient(top, #F5F5F5 50%, #B4BAD4 100%);

  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50, #F5F5F5), color-stop(100, #B4BAD4));

  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top, #F5F5F5 50%, #B4BAD4 100%);

  /* W3C Markup */
  background-image: linear-gradient(to bottom, #F5F5F5 50%, #B4BAD4 100%);
}

.arrow {
  width: 10%;
  margin-top: 12%;
  text-align: center;
  color: #26c7a9;
  font-size: 50px;
}

.arrow__left {
  float: left;
}

.arrow__right {
  float: right;
}

.main {
  float: left;
  width: 40%;
}

div.main {
  display: inline-block;
}

div.main img {
  z-index: 3;
}

.content > * {
  margin: 1em 0.5em;
  text-align: center;
}

.main h1 {
  font-size: 40px;
  text-transform: uppercase;
}

.main span {
  font-weight: bold;
  color: #26c7a9;
}

div.main a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  width: 50%;
  display: block;
  background-color: #26c7a9;
  line-height: 36px;
  margin: 0 auto;
  border-radius: 5px;
  text-transform: uppercase;
  margin-top: 1.5em;
}


#sectionSecond {
  background-color: white;
  /*margin-bottom: 100px;*/
}

.images {
  height: 250px;
  width: 30%;
  float: left;
  margin: 30px 0;
}



div.images {
  background-size: cover;
  background-position: center;
  border: 1px solid #c9c9c9;
}

div.images:first-child {
  margin-right: 2.5%;
  background-image: url("images/box1_img.jpg");
}

div.images:nth-child(2) {
  margin-right: 2.5%;
  margin-left: 2.5%;
  background-image: url("images/box2_img.jpg");
}

div.images:last-child {
  margin-left: 2.5%;
}

.images__text {
  padding: 1em;
  font-size: 14px;
  color: #515151;
}

.images__text p:last-child {
  margin-top: 10px;
}

.images__text h2 {
  font-size: 16px;
  color: black;
}

.images__text hr {
  width: 70%;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #26c7a9;
  background-color: #26c7a9;
  height: 0.5em;


}

.leftOnes {
  margin-top: 60%;
}

.images__content {
  background-color: rgba(242, 242, 242, 0.4);
  width: 105%;
  height: 3em;
  display: block;
}

#sectionPrices {
  margin-top: 30px;
  padding-top: 30px;
  background-color: #f0f0f0;
  padding-bottom: 30px;
}

div.price__box {
  margin-top: 50px;
  width: 30%;
  /*height: 400px;*/
  position: relative;
  border: 1px solid #c9c9c9;
  text-align: center;
  background-color: white;
  float: left;
}

[class*="circle"] {
  border: 1px solid #c9c9c9;
  position: absolute;
  border-radius: 50%;
}

div.circle {
  width: 60px;
  height: 60px;
  top: -7.5%;
  left: 40%;
  background: white;
}

div.circle__small {
  width: 35px;
  height: 35px;
  top: 18.5%;
  left: 19%;
  background-color: #c9c9c9;
}

.price__box h3 {
  margin-top: 15%;
  text-transform: uppercase;
  font-weight: 400;
  color: #26c7a9;
  font-size: 24px;

}

.mainCircle {
  height: 130px;
  width: 130px;
  border: 1px solid #c9c9c9;
  border-radius: 50%;
  margin: auto;
  margin-top: 2em;
}

.mainCircle p:first-child {
  margin-top: 20%;
  font-size: 40px;
  color: #c9c9c9;
  font-weight: bold;
}

.mainCircle sup {
  font-size: 16px;
}

.mainCircle p:last-child {
  color: #c9c9c9;
  font-size: 16px;
  font-weight: bold;
  margin-top: 0.7em;
}

.price__box h4:first-of-type {
  margin-top: 2em;
}

.price__box h4:nth-of-type(odd) {
  background-color: #E3E3E3;
  line-height: 3em;
  color:#9c9c9c;
  font-weight: 400;
}

.price__box h4:nth-of-type(even){
  background-color: #f0f0f0;
  line-height: 3em;
  font-weight: 400;
  color: #969696;
}

.price__box a {
  display: block;
  text-decoration: none;
  margin: 125px auto 20px auto;
  width: 50%;
  line-height: 2.5em;
  background-color: #26c7a9;
  color: white;
  border-radius: 8px;

}

.hr__style {
  width: 25%;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #26c7a9;
  background-color: #26c7a9;
  height: 0.5em;
}

.container h3 {
  font-weight: 400;
}

#middle {
  margin-right: 5%;
  margin-left: 5%;
  background-color: #26c7a9;
  border-color: #26c7a9;
}

#middle div.circle {
  background-color: #26c7a9;
  border-color: #26c7a9;
}

#middle div.circle__small {
  background-color: white;
  border-color: #26c7a9;
}

#middle h3 {
  color: white;
}

#middle .mainCircle {
  background-color: white;
  border-color: #26c7a9;
}

#middle p, span {
  color: #26c7a9;
}

#middle a {
  background-color: white;
  color: #26c7a9;
}

div.price__box:last-of-type a {
  margin: 30px auto 20px auto;
}

#middle h4:nth-last-of-type(odd) {
  background-color: white;
}

#middle a {
  margin-top: 78px;
}

#contact {
  padding-top: 30px;
}

.contactForm {
  width: 55%;
  margin-top: 30px;
  float: left;
}

.contactForm > * {
  display: block;
  margin-top: 2em;
  width: 100%;
  border: 1px solid #26c7a9;
}

.contactForm > input {
  line-height: 3em;
}

.contactForm > *::placeholder {
  font-family: "Raleway", Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding: 1em;
  opacity: 0.6;
}

.contactForm * {
  font-size: 14px;
  color: grey;
  padding-left: 15px;
}

.confirm {
  float: right;
  width: 40%;
}

img.redChair {
  width: 70%;
  height: auto;
  display: block;
  margin-bottom: 1em;
}

img.check {
  border: 1px solid #26c7a9;
  width: 15%;
  height: auto;
  float: left;
  padding: 3px;
}

.confirm h4 {
  width: 70%;
  display: inline-block;
  margin-left: 10px;
  line-height: 1em;
  margin-top: 12px;
}

footer {
  margin: 80px auto 30px auto;
}

.copyrights {
  width: 55%;
  float: left;
  margin-top: 26px;
}

.copyrights p {
  color: #c9c9c9;
}

.social {
  width: 40%;
  float: right;
}

.social img {
  width: 10%;
  height: auto;
}

.social h4 {
  display: inline-block;
  margin-left: 40px;
  color: #c9c9c9;
  font-weight: 400;
}

.social span {
  color: #c9c9c9;
  font-weight: 900;
}
